@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* VARIABEL CSS */
:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --black: rgba(18, 18, 18, 0.1);
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL CSS */
img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--grey-100);
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.testimonials-grid {
  max-width: 1440px;
  margin: 1rem;
  display: grid;
  grid-template-areas:
    "item1 item1 item2 item3"
    "item4 item5 item5 item3";
  grid-auto-columns: 1fr;
  gap: 1.5rem;
}

.testimonials-grid .item {
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 30px 30px 30px var(--black);
}

.testimonials-grid .item .person {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 20px;
}

.testimonials-grid .item .person img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonials-grid .item .person h1 {
  font-size: 1rem;
  font-weight: 500;
}

.testimonials-grid .item .top-quote {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.testimonials-grid .item .bottom-quote {
  font-size: 0.9rem;
}

.testimonials-grid .item:nth-child(1) .person h1,
.testimonials-grid .item:nth-child(1) .top-quote {
  color: var(--white);
}

.testimonials-grid .item:nth-child(1) .person p,
.testimonials-grid .item:nth-child(1) .bottom-quote {
  color: var(--purple-50);
}

.testimonials-grid .item:nth-child(2) .person h1,
.testimonials-grid .item:nth-child(2) .top-quote {
  color: var(--grey-100);
}

.testimonials-grid .item:nth-child(2) .person p,
.testimonials-grid .item:nth-child(2) .bottom-quote {
  color: var(--grey-200);
}

.testimonials-grid .item:nth-child(3) .person h1,
.testimonials-grid .item:nth-child(3) .top-quote,
.testimonials-grid .item:nth-child(4) .person h1,
.testimonials-grid .item:nth-child(4) .top-quote {
  color: var(--grey-500);
}

.testimonials-grid .item:nth-child(3) .person p,
.testimonials-grid .item:nth-child(3) .bottom-quote,
.testimonials-grid .item:nth-child(4) .person p,
.testimonials-grid .item:nth-child(4) .bottom-quote {
  color: var(--grey-400);
}

.testimonials-grid .item:nth-child(5) .person h1,
.testimonials-grid .item:nth-child(5) .top-quote {
  color: var(--grey-200);
}

.testimonials-grid .item:nth-child(5) .person p,
.testimonials-grid .item:nth-child(5) .bottom-quote {
  color: var(--grey-100);
}

/* TESTIMONIAL DANIEL */
.testimonials-grid .item:nth-child(1) {
  grid-area: item1;
  background-color: var(--purple-500);
  position: relative;
}

.testimonials-grid .item:nth-child(1) .person {
  position: relative;
  z-index: 5;
}

.testimonials-grid .item:nth-child(1) .person img {
  border: 2px solid var(--purple-300);
}

.testimonials-grid .item:nth-child(1) .top-quote {
  position: relative;
  z-index: 5;
}

.testimonials-grid .item:nth-child(1) .quote-icon {
  width: 130px;
  position: absolute;
  top: 0;
  right: 80px;
}

/* TESTIMONIAL JONATHAN */
.testimonials-grid .item:nth-child(2) {
  grid-area: item2;
  background-color: var(--grey-500);
}

/* TESTIMONIAL KIRA */
.testimonials-grid .item:nth-child(3) {
  grid-area: item3;
  background-color: var(--white);
}

/* TESTIMONIAL JEANETTE */
.testimonials-grid .item:nth-child(4) {
  grid-area: item4;
  background-color: var(--white);
}

/* TESTIMONIAL PATCRICK */
.testimonials-grid .item:nth-child(5) {
  grid-area: item5;
  background-color: var(--dark-blue);
}

.testimonials-grid .item:nth-child(5) .person img {
  border: 2px solid var(--purple-500);
}

/* MEDIA QUERIES */

/* Large Devices */
@media (max-width: 1024px) {
  .testimonials-grid {
    grid-template-areas:
      "item1 item1 item2 item2"
      "item4 item4 item3 item3"
      "item5 item5 item5 item5";
  }

  .testimonials-grid .item:nth-child(1) .quote-icon {
    right: 40px;
  }
}

/* Small Devices */
@media (max-width: 768px) {
  .testimonials-grid {
    grid-template-areas:
      "item1"
      "item2"
      "item4"
      "item5"
      "item3";
  }

  .testimonials-grid .item:nth-child(1) .quote-icon {
    display: none;
  }
}
